body {
  margin: 0; /* Eliminar márgenes del cuerpo */
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden; /* Evitar el desplazamiento */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Para que el contenedor esté en posición relativa */
  z-index: 1; /* Para que esté por encima de la imagen */
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-container {
  position: fixed; /* Fijar la imagen a la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Inicialmente oculto */
  background-image: url("Prueba.png");
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  z-index: 0; /* Para que esté detrás del contenedor */
}

.image-container.show {
  display: block; /* Se muestra al hacer clic en el botón */
}
