img {
  width: 100px;
  height: 400px;
}

.logo {
  width: 100px;
  height: 100px;
}

.titulo {
  color: white;
  margin-left: 90px;
  font-size: 20pt;
}

.titulo2 {
  color: white;
}

.card5 {
  background-color: blue;
  text-align: center;
  height: 100px;
}

h2 {
  color: black;
  text-align: center;
}

.footertext {
  color: white;
  text-align: center;
  margin-top: 30px;
}

.card-container {
  display: flex; /* Utiliza Flexbox */
  justify-content: space-between; /* Espacio entre las cards */
}

.card {
  margin-top: 30px;
  width: 30%; /* Ancho de cada card */
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
